In [1]:
import pandas as pd
import numpy as np
import json
from collections import defaultdict

In [23]:
reviews_raw = open('yelp_academic_dataset_review.json', 'r')

counter = 0

data_dict = defaultdict(list)

for line in reviews_raw:
    if counter >= 3:
        break
    #print line
    line_json = json.loads(line)

    user_id = line_json['user_id']
    review_type = line_json['type']
    stars = line_json['stars']
    date = line_json['date']
    business_id = line_json['business_id']
    text = line_json['text']

    data_dict['user_id'].append(user_id)
    data_dict['stars'].append(stars)
    data_dict['business_id'].append(business_id)
    data_dict['text'].append(text)
    
    #Print a sample 
    #if user_id == 'tAKjY3bQXH51msJbOHYPmQ':
    #    print line_json
    
    #print user_id, business_id, stars
    #counter += 1

#print dict(data_dict)
    
reviews_raw.close() 

df = pd.DataFrame(data_dict)

#keep only 4-5 star reviews

df = df[df['stars'] >= 4]

In [114]:
businesses_raw = open('yelp_academic_dataset_business.json', 'r')

#this table has different fields in different columns 
#extract all the possible values from the data? 
#get all possible values of attributes, ambience, and categories 
#there are multiple levels of nesting... 
#for attributes I need each key and all the possible values (it's not always true/false)


fields = set()
fields_amb = set()
fields_cat = set()
attributes_possible = defaultdict(set)

counter = 1

for line in businesses_raw:
        
    if counter >= 6:
        break
    line_json = json.loads(line)
    
    if 'Restaurants' not in line_json['categories']:
        continue
        
    #print line_json
    
    #attributes
    attributes = line_json['attributes']
    for key in attributes:
        #print key
        current_val = attributes[key]
        attributes_possible[key].add(str(current_val))
        
    #ambience (not always present in attributes so we need a try/except)
    try:
        ambience = line_json['attributes']['Ambience']
        for key in ambience:
            fields_amb.add(key)
    except(KeyError): 
        pass
    
    #counter to only test for a few rows
    #counter += 1
 
    #categories
    categories = line_json['categories']
    for key in categories:
        #print key
        fields_cat.add(key)    

#keep only True/False attributes 


#alcohol
#price range 

for key in attributes_possible:
    if attributes_possible[key] == set(['True', 'False']):
        fields.add(key)

print fields
        
#check out all the possible attributes 
target=open('attributes_possible', 'w')
for key in attributes_possible:
    target.write(key)
    target.write('\t')
    target.write(str(attributes_possible[key]))
    target.write('\n')

set([u'Delivery', u'Take-out', u'Drive-Thru', u'Open 24 Hours', u'Good For Dancing', u'Waiter Service', u'Good For Kids', u'Corkage', u'BYOB', u'Dogs Allowed', u'Happy Hour', u'Order at Counter', u'Has TV', u'Outdoor Seating', u'Coat Check', u'By Appointment Only', u'Takes Reservations', u'Good for Kids', u'Good For Groups', u'Caters', u'Wheelchair Accessible'])

In [126]:

businesses_raw = open('yelp_academic_dataset_business.json', 'r')

counter = 0
#explode the attributes and categories 

business_dict = defaultdict(list)

for line in businesses_raw:
    if counter >= 10:
        break
   
    #print line
    line_json = json.loads(line)
    
    #only keep restaurants
    if 'Restaurants' not in line_json['categories']:
        continue
    
    #only keep businesses with reviews >= 10 
    if line_json['review_count'] < 10:
        continue
    
    #print a sample json
   
    
    #city = line_json['city']
    bus_stars = line_json['stars']
    review_count = line_json['review_count']
    #categories = line_json['categories']
    #attributes = line_json['attributes']
    name = line_json['name']
    business_id = line_json['business_id']
    
    

    #business_dict['city'].append(city)
    business_dict['bus_stars'].append(bus_stars)  
    business_dict['review_count'].append(review_count) 
    #business_dict['categories'].append(categories) 
    #business_dict['attributes'].append(attributes) 
    business_dict['name'].append(name) 
    business_dict['business_id'].append(business_id) 
    
    
    
    try:
        price = line_json['attributes']['Price Range']
        business_dict['price'].append(price) 
    except(KeyError):
        business_dict['price'].append('1')

    
    try:
        alcohol = line_json['attributes']['Alcohol']
        business_dict['alcohol'].append(alcohol) 
    except(KeyError):
        business_dict['alcohol'].append('none')
    
    
    
    if business_id == 'stH6XAn2Drzol1H5oGvL2A':
        target = open('business_sample.txt','w')
        target.write(line)
    
    
    #attributes are not always true/false
    
    #get all the attributes as separate columns
    for attribute in fields:
        if attribute == 'Ambience':
            continue
        try:
            value = line_json['attributes'][attribute]
            if str(value).lower() == 'true':
                value = True
            else:
                value = False
        except(KeyError):
            value = False
        business_dict['atr_' + attribute].append(value) 
    
    #get the ambience out of the attributes
    
    for ambience in fields_amb:
        try:
            value = line_json['attributes']['Ambience'][ambience]
            if str(value).lower() == 'true':
                value = True
            else:
                value = False
        except(KeyError):
            value = False
        business_dict['amb_' + ambience].append(value) 
        
    
    for category in fields_cat:
        if category in line_json['categories']:
            business_dict['cat_' + category].append(True) 
        else:
            business_dict['cat_' + category].append(False) 

businesses_raw.close() 

df_bus = pd.DataFrame(business_dict)


df_bus.to_csv('df_bus_out.csv', encoding='UTF-8')

In [127]:
df_bus.head()

,alcohol,amb_casual,amb_classy,amb_divey,amb_hipster,amb_intimate,amb_romantic,amb_touristy,amb_trendy,amb_upscale,...,cat_Venues & Event Spaces,cat_Vietnamese,cat_Wedding Planning,cat_Wine Bars,cat_Wineries,cat_Wok,cat_Yoga,name,price,review_count
0,full_bar,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Emil's Lounge,1,11
1,full_bar,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Alexion's Bar & Grill,1,15
2,none,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Gab & Eat,1,38
3,full_bar,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Papa J's,2,46
4,none,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Steak 'n Shake,1,36

In [128]:
#replace all true/false with 0/1

df_bus.replace(True, 1.0, inplace=True)
df_bus.replace(False, 0.0, inplace=True)
df_bus['alcohol'] = df_bus['alcohol'].map({'none':0, 'beer_and_wine':1, 'full_bar':2}).astype(float)
df_bus['price'] = df_bus['price'].astype(float)
#keep only businesses with reviews > 10 
df_bus = df_bus[df_bus['review_count'] >= 10]
df_bus.head()

,alcohol,amb_casual,amb_classy,amb_divey,amb_hipster,amb_intimate,amb_romantic,amb_touristy,amb_trendy,amb_upscale,...,cat_Venues & Event Spaces,cat_Vietnamese,cat_Wedding Planning,cat_Wine Bars,cat_Wineries,cat_Wok,cat_Yoga,name,price,review_count
0,2,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Emil's Lounge,1,11
1,2,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Alexion's Bar & Grill,1,15
2,0,True,False,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Gab & Eat,1,38
3,2,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Papa J's,2,46
4,0,True,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,Steak 'n Shake,1,36

In [149]:
#join with the user review data 
#merge, filter and sort 
 
df_merged = pd.merge(df, df_bus, on='business_id')
#keep only users with 10+ reviews
#groupby.filter can do this i think
df_merged = df_merged.groupby('user_id', as_index=False).filter(lambda x: len(x) >= 10)
#df_merged.sort('user_id', inplace=True)

In [150]:
#remove some non numeric columns 
df_merged.drop(['stars','bus_stars','text', 'name'], axis=1, inplace=True)

#there's an issue - one user might be reviewing the same business multiple times 
#try duplicates drop 
print df_merged.info()
df_merged.drop_duplicates(take_last=True, subset=['user_id', 'business_id'], inplace=True)
print df_merged.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 238686 entries, 2 to 632236
Columns: 319 entries, business_id to review_count
dtypes: bool(314), float64(2), int64(1), object(2)
memory usage: 82.4+ MB
None
<class 'pandas.core.frame.DataFrame'>
Int64Index: 226566 entries, 2 to 632236
Columns: 319 entries, business_id to review_count
dtypes: bool(314), float64(2), int64(1), object(2)
memory usage: 78.2+ MB
None

In [151]:
#change to numeric 
df_merged.replace(True, 1.0, inplace=True)
df_merged.replace(False, 0.0, inplace=True)

In [153]:

df_merged['review_count'] = 1
df_merged.head()

,business_id,user_id,alcohol,amb_casual,amb_classy,amb_divey,amb_hipster,amb_intimate,amb_romantic,amb_touristy,...,cat_Venezuelan,cat_Venues & Event Spaces,cat_Vietnamese,cat_Wedding Planning,cat_Wine Bars,cat_Wineries,cat_Wok,cat_Yoga,price,review_count
2,mVHrayjG3uZ_RLHkLj-AMg,8fApIAMHn2MZJFUiCQto5Q,2,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,1
8,mVHrayjG3uZ_RLHkLj-AMg,tAKjY3bQXH51msJbOHYPmQ,2,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,1
11,KayYbHCt-RkbGcPdGOThNg,JbWnXwjLaO1kncUkQOMajg,2,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,1
12,KayYbHCt-RkbGcPdGOThNg,4-3IU5uUH90m21TWbZhhnA,2,True,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,1,1
18,b9WZJp5L1RZr4F1nxclOoQ,FNbm3ycU2BF8C17UFfWzOg,0,True,False,True,False,False,False,False,...,False,False,False,False,False,False,False,False,1,1

In [154]:
grouped_metrics = df_merged.groupby('user_id', as_index=False).agg(np.sum)

In [161]:
#Start combining the columns to the user level 
#Use the term frequency divided by the users's review count


grouped_metrics.head()
#divide each column by the review count 
grouped_metrics.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10107 entries, 0 to 10106
Data columns (total 318 columns):
user_id                                 object
alcohol                                 float64
amb_casual                              float64
amb_classy                              float64
amb_divey                               float64
amb_hipster                             float64
amb_intimate                            float64
amb_romantic                            float64
amb_touristy                            float64
amb_trendy                              float64
amb_upscale                             float64
atr_BYOB                                float64
atr_By Appointment Only                 float64
atr_Caters                              float64
atr_Coat Check                          float64
atr_Corkage                             float64
atr_Delivery                            float64
atr_Dogs Allowed                        float64
atr_Drive-Thru                          float64
atr_Good For Dancing                    float64
atr_Good For Groups                     float64
atr_Good For Kids                       float64
atr_Good for Kids                       float64
atr_Happy Hour                          float64
atr_Has TV                              float64
atr_Open 24 Hours                       float64
atr_Order at Counter                    float64
atr_Outdoor Seating                     float64
atr_Take-out                            float64
atr_Takes Reservations                  float64
atr_Waiter Service                      float64
atr_Wheelchair Accessible               float64
cat_Active Life                         float64
cat_Adult Entertainment                 float64
cat_Afghan                              float64
cat_African                             float64
cat_Airports                            float64
cat_American (New)                      float64
cat_American (Traditional)              float64
cat_Amusement Parks                     float64
cat_Apartments                          float64
cat_Appliances                          float64
cat_Arabian                             float64
cat_Arcades                             float64
cat_Argentine                           float64
cat_Art Galleries                       float64
cat_Arts & Crafts                       float64
cat_Arts & Entertainment                float64
cat_Asian Fusion                        float64
cat_Australian                          float64
cat_Austrian                            float64
cat_Auto Repair                         float64
cat_Automotive                          float64
cat_Baden                               float64
cat_Bagels                              float64
cat_Bakeries                            float64
cat_Bangladeshi                         float64
cat_Banks & Credit Unions               float64
cat_Barbeque                            float64
cat_Bars                                float64
cat_Basque                              float64
cat_Bavarian                            float64
cat_Beauty & Spas                       float64
cat_Bed & Breakfast                     float64
cat_Beer Bar                            float64
cat_Beer Garden                         float64
cat_Beer Gardens                        float64
cat_Beer, Wine & Spirits                float64
cat_Belgian                             float64
cat_Bikes                               float64
cat_Bistros                             float64
cat_Books, Mags, Music & Video          float64
cat_Bookstores                          float64
cat_Bowling                             float64
cat_Brasseries                          float64
cat_Brazilian                           float64
cat_Breakfast & Brunch                  float64
cat_Breweries                           float64
cat_British                             float64
cat_Bubble Tea                          float64
cat_Buffets                             float64
cat_Burgers                             float64
cat_Burmese                             float64
cat_Butcher                             float64
cat_Cafes                               float64
cat_Cafeteria                           float64
cat_Cajun/Creole                        float64
cat_Cambodian                           float64
cat_Canadian (New)                      float64
cat_Candy Stores                        float64
cat_Cantonese                           float64
cat_Car Wash                            float64
cat_Caribbean                           float64
cat_Casinos                             float64
cat_Caterers                            float64
cat_Champagne Bars                      float64
cat_Cheese Shops                        float64
cat_Cheesesteaks                        float64
cat_Chicken Wings                       float64
cat_Chinese                             float64
cat_Chocolatiers & Shops                float64
cat_Cinema                              float64
cat_Cocktail Bars                       float64
cat_Coffee & Tea                        float64
cat_Coffee & Tea Supplies               float64
cat_Colleges & Universities             float64
cat_Colombian                           float64
cat_Comfort Food                        float64
cat_Convenience Stores                  float64
cat_Cooking Schools                     float64
cat_Country Dance Halls                 float64
cat_Couriers & Delivery Services        float64
cat_Creperies                           float64
cat_Cuban                               float64
cat_Cultural Center                     float64
cat_Cupcakes                            float64
cat_Curry Sausage                       float64
cat_Czech                               float64
cat_Dance Clubs                         float64
cat_Day Spas                            float64
cat_Delicatessen                        float64
cat_Delis                               float64
cat_Desserts                            float64
cat_Dim Sum                             float64
cat_Diners                              float64
cat_Distilleries                        float64
cat_Dive Bars                           float64
cat_Do-It-Yourself Food                 float64
cat_Dominican                           float64
cat_Donuts                              float64
cat_Drugstores                          float64
cat_Dry Cleaning & Laundry              float64
cat_Eastern European                    float64
cat_Eastern German                      float64
cat_Education                           float64
cat_Egyptian                            float64
cat_Ethiopian                           float64
cat_Ethnic Food                         float64
cat_Event Planning & Services           float64
cat_Falafel                             float64
cat_Farmers Market                      float64
cat_Fashion                             float64
cat_Fast Food                           float64
cat_Festivals                           float64
cat_Filipino                            float64
cat_Financial Services                  float64
cat_Fish & Chips                        float64
cat_Fitness & Instruction               float64
cat_Flea Markets                        float64
cat_Flowers & Gifts                     float64
cat_Fondue                              float64
cat_Food                                float64
cat_Food Court                          float64
cat_Food Delivery Services              float64
cat_Food Stands                         float64
cat_Food Trucks                         float64
cat_French                              float64
cat_Fruits & Veggies                    float64
cat_Furniture Stores                    float64
cat_Gas & Service Stations              float64
cat_Gastropubs                          float64
cat_Gay Bars                            float64
cat_Gelato                              float64
cat_German                              float64
cat_Gluten-Free                         float64
cat_Golf                                float64
cat_Greek                               float64
cat_Grocery                             float64
cat_Haitian                             float64
cat_Halal                               float64
cat_Hardware Stores                     float64
cat_Hawaiian                            float64
cat_Health & Medical                    float64
cat_Health Markets                      float64
cat_Herbs & Spices                      float64
cat_Hiking                              float64
cat_Himalayan/Nepalese                  float64
cat_Hobby Shops                         float64
cat_Home & Garden                       float64
cat_Home Decor                          float64
cat_Home Services                       float64
cat_Hookah Bars                         float64
cat_Horseback Riding                    float64
cat_Hot Dogs                            float64
cat_Hot Pot                             float64
cat_Hotels                              float64
cat_Hotels & Travel                     float64
cat_Hungarian                           float64
cat_Iberian                             float64
cat_Ice Cream & Frozen Yogurt           float64
cat_Indian                              float64
cat_Indonesian                          float64
cat_International                       float64
cat_Internet Cafes                      float64
cat_Irish                               float64
cat_Irish Pub                           float64
cat_Italian                             float64
cat_Izakaya                             float64
cat_Japanese                            float64
cat_Jazz & Blues                        float64
cat_Juice Bars & Smoothies              float64
cat_Karaoke                             float64
cat_Kebab                               float64
cat_Kids Activities                     float64
cat_Kitchen & Bath                      float64
cat_Korean                              float64
cat_Kosher                              float64
cat_Lakes                               float64
cat_Landmarks & Historical Buildings    float64
cat_Laotian                             float64
cat_Latin American                      float64
cat_Lebanese                            float64
cat_Leisure Centers                     float64
cat_Live/Raw Food                       float64
cat_Local Flavor                        float64
cat_Local Services                      float64
cat_Lounges                             float64
cat_Malaysian                           float64
cat_Meat Shops                          float64
cat_Mediterranean                       float64
cat_Mexican                             float64
cat_Middle Eastern                      float64
cat_Modern European                     float64
cat_Mongolian                           float64
cat_Moroccan                            float64
cat_Music Venues                        float64
cat_Musicians                           float64
cat_Nightlife                           float64
cat_Nutritionists                       float64
cat_Organic Stores                      float64
cat_Oriental                            float64
cat_Outlet Stores                       float64
cat_Pakistani                           float64
cat_Parking                             float64
cat_Party & Event Planning              float64
cat_Party Supplies                      float64
cat_Patisserie/Cake Shop                float64
cat_Performing Arts                     float64
cat_Persian/Iranian                     float64
cat_Personal Chefs                      float64
cat_Personal Shopping                   float64
cat_Peruvian                            float64
cat_Pet Services                        float64
cat_Pets                                float64
cat_Piano Bars                          float64
cat_Pita                                float64
cat_Pizza                               float64
cat_Polish                              float64
cat_Pool Halls                          float64
cat_Portuguese                          float64
cat_Poutineries                         float64
cat_Pretzels                            float64
cat_Pub Food                            float64
cat_Public Services & Government        float64
cat_Pubs                                float64
cat_RV Parks                            float64
cat_Ramen                               float64
cat_Real Estate                         float64
cat_Resorts                             float64
cat_Restaurants                         float64
cat_Russian                             float64
cat_Salad                               float64
cat_Salvadoran                          float64
cat_Sandwiches                          float64
cat_Scandinavian                        float64
cat_Scottish                            float64
cat_Seafood                             float64
cat_Seafood Markets                     float64
cat_Serbo Croatian                      float64
cat_Shanghainese                        float64
cat_Shared Office Spaces                float64
cat_Shaved Ice                          float64
cat_Shopping                            float64
cat_Shopping Centers                    float64
cat_Singaporean                         float64
cat_Social Clubs                        float64
cat_Soul Food                           float64
cat_Soup                                float64
cat_Southern                            float64
cat_Spanish                             float64
cat_Specialty Food                      float64
cat_Specialty Schools                   float64
cat_Sporting Goods                      float64
cat_Sports Bars                         float64
cat_Sports Clubs                        float64
cat_Sports Wear                         float64
cat_Steakhouses                         float64
cat_Street Vendors                      float64
cat_Sushi Bars                          float64
cat_Swimming Pools                      float64
cat_Swiss Food                          float64
cat_Szechuan                            float64
cat_Taiwanese                           float64
cat_Tapas Bars                          float64
cat_Tapas/Small Plates                  float64
cat_Tea Rooms                           float64
cat_Teppanyaki                          float64
cat_Tex-Mex                             float64
cat_Thai                                float64
cat_Ticket Sales                        float64
cat_Tours                               float64
cat_Travel Services                     float64
cat_Trinidadian                         float64
cat_Turkish                             float64
cat_Ukrainian                           float64
cat_Uzbek                               float64
cat_Vegan                               float64
cat_Vegetarian                          float64
cat_Venezuelan                          float64
cat_Venues & Event Spaces               float64
cat_Vietnamese                          float64
cat_Wedding Planning                    float64
cat_Wine Bars                           float64
cat_Wineries                            float64
cat_Wok                                 float64
cat_Yoga                                float64
price                                   float64
review_count                            int64
dtypes: float64(316), int64(1), object(1)
memory usage: 24.6+ MB

In [162]:
#change this to be dividing all the columns I care about by the last review count column 

divided = grouped_metrics[grouped_metrics.columns[1:317]].divide(grouped_metrics[grouped_metrics.columns[-1]], axis = 0)

#merge the userid back in

userids = grouped_metrics['user_id']


divided_user = pd.concat([userids, divided], axis=1)
divided_user.head()
divided_user.to_csv('final_dataset.csv', index=False)

In [163]:
divided_user.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 10107 entries, 0 to 10106
Columns: 317 entries, user_id to price
dtypes: float64(316), object(1)
memory usage: 24.5+ MB

In [165]:
divided_user.head()

,user_id,alcohol,amb_casual,amb_classy,amb_divey,amb_hipster,amb_intimate,amb_romantic,amb_touristy,amb_trendy,...,cat_Vegetarian,cat_Venezuelan,cat_Venues & Event Spaces,cat_Vietnamese,cat_Wedding Planning,cat_Wine Bars,cat_Wineries,cat_Wok,cat_Yoga,price
0,--65q1FpAL_UQtVZ2PTGew,0.795918,0.765306,0.020408,0.091837,0.020408,0.020408,0.010204,0,0.020408,...,0.000000,0,0,0.061224,0,0.010204,0,0,0,1.448980
1,--VxRvXk3b8FwsSbC2Zpxw,1.200000,0.733333,0.066667,0.066667,0.000000,0.066667,0.000000,0,0.066667,...,0.000000,0,0,0.000000,0,0.000000,0,0,0,1.733333
2,-0itF0VWVBe3k2AdfUReGA,0.884615,0.461538,0.038462,0.076923,0.076923,0.076923,0.076923,0,0.153846,...,0.000000,0,0,0.038462,0,0.000000,0,0,0,1.692308
3,-0wUMy3vgInUD4S6KJInnw,0.916667,0.666667,0.083333,0.083333,0.083333,0.000000,0.000000,0,0.083333,...,0.083333,0,0,0.000000,0,0.000000,0,0,0,1.750000
4,-2EuoueswhqEERWezJY8gw,1.470588,0.470588,0.058824,0.058824,0.117647,0.000000,0.117647,0,0.176471,...,0.000000,0,0,0.000000,0,0.000000,0,0,0,2.000000